.slide h1{
  text-align: center;
}

.section{
color: rgb(28, 7, 38);
}

#section1{
  background-image: url('./img/bkgrnd1.jpg');
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0,0,0,.2);
}

#navbar{
  width:100%;
  height: 40px;
  position: absolute;
  top:0px;
  z-index: 1000;
  opacity: 0.8;
}

#navbar a{
  font-size: 30px;
  padding: 30px 100px 0 100px;
  color:rgb(109, 11, 235);
}

.background-image{
  display: block;
  background-size: cover;
  overflow:hidden;
  max-height: 100%;
  max-width: 100%;
  }

  .text {
  color: rgb(255, 255, 255);
  margin:40px auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  text-shadow: 5px 5px 5px #aaa;
  animation-name: fade-in;
  animation-duration: 4s;
}


@keyframes fade-in {
    0% { opacity: 0;}
    100%{ opacity: 1; display: block;}
}

body {
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size:30px;
}

/*Style for education section*/
.timeline-block{
  width:50%;
  clear:both;
}
.timeline-block h2,h3{
  margin: 0;
  padding:0 auto 10px auto;
}
.left{
  float:left;
  margin-top: 100px;
}
.right{
  float:right;
}
.left div.info{
  margin-left: 30px;
  float:left;
}
.left div.logodiv{
  float:right;
}

.right div.logodiv{
  float:left;
}

.right div.info{
  margin-right: 30px;
  float:right;
}

.info{
  width:70%;
  text-align: justify;

}
.infotext{
  font-size:22px;
  word-wrap: break-word;
  margin-top:15px;
}
.infotext:hover{
  cursor:zoom-in;
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
.logo{
  height:160px;
  width:160px;
  padding:10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.logodiv{
  height: inherit;
}

#UndergradAtPICT{
    background-image: url('./img/education/Pict_logo.png');

}
#MastersAtASU{
  background-image: url('./img/education/asu_university.png');
}
.section div{
  display:block;
}
